#resume {
	margin-top: 10%;
	margin-bottom: 10%;
}

#github-logo {
	height: 50px;
	width: 50px;
	position: relative;
	margin-bottom: 5%;
}

#linkedin-logo {
	height: 50px;
	width: 50px;
	position: relative;
	margin-bottom: 5%;
};
